/*
	Visual Assist Dark
*/

$color-bg: #1e1e1e;
$color-fe-bg: #2b2b2b; // File Explorer.

$color-keyword: #3a88d5;
$color-type: #ffd700;
$color-string: #d69d85;
$color-namespace: #b8d7a3;
$color-name: #ff8000;
$color-var: #bdb76b;

$color-scope: #dcdcdc;
$color-default: #b4b4b4;

$color-white: $color-default;